@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-size: 16px;
  object-fit: cover;

}

.container {
  color: black;
  width: 100%;
}

.container-head {
  text-align: center;
  color: royalblue;
}

.topnav {
  overflow: hidden;
  margin: 12px;
  font-size: 18px;
  top: 0;
  text-emphasis-color: black;
}

.topnav ul {
  overflow: hidden;
  background-color: green;
  margin: 0;
  padding: 0;

}

ul li {
  float: left;
  text-align: center;
  border-right: 1px solid black;
  line-height: 2;
  display: block;
}

ul li a {
  padding: 20px 20px;
}

.topnav a:hover {
  color: red;
  /* background-color: green; */
}

.topnav a:active {
  color: green;
  background-color: red;
  width: 100%;
}

.modal-login-header {
  color: royalblue;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

/* Login Page CSS*/
.loginform
{
  color: royalblue;
  text-align: center;
  /* padding: 0 12% 0 12%; */
  margin: 0 30% 0 30%;
}

.btn
{
  background-color: green;
  width:250px;
  height: 2rem;
  /* border: 2px solid black; */
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
#label-uname, #label-pass
{
  font-size: 20px;
}
.uname[type=text],.password[type=password]
{
  border: 2px solid #04AA6D;
  font-size: 20px;
}
.submit
{
  background-color: #04AA6D;
  color: white;
  padding:10px 5px;
  margin-left: 15%;
  margin-right: auto;
  border: none;
  cursor: pointer;
  font-size: 22px;
  width: 250px;

}